.todohistory-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.todohistory-panel {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}